div{
  border: 3px solid orange;
border-bottom-width: 3px  3px;
width: 200px;
height:230px;
padding-left: 15px;
margin-bottom: 10px;
}

div{
  border: 3px solid orange;
border-bottom-width: 3px  3px;
width: 200px;
height:230px;
padding-left: 15px;
margin-bottom: 10px;
}

div{
  border: 3px solid orange;
border-bottom-width: 3px  3px;
width: 200px;
height:230px;
padding-left: 15px;
margin-bottom: 10px;
}
