/* Agrega aqui tu CSS */
div {

	border:7px solid orange;
	border-width: 2px 2px ;
	width:200px;
	height:230px;
	padding-left: 1px;
	padding-top: 10px;

	
}


.dos{

	border:7px solid orange;
	border-width: 2px 2px ;
	width:200px;
	height:230px;
	padding-left: 1px;
	padding-top: 10px;
	
}

.tres{

	border:7px solid orange;
	border-width: 2px 2px ;
	width:200px;
	height:230px;
	padding-left: 1px;
	padding-top: 10px;
	
}/* Agrega aqui tu CSS */